
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

<div class="container text-center">

    <form class="form-horizontal" th:action="@{/addpotluck}" th:object="${potluck}" method="post">
        <!-- Form Name -->
        <legend align="Center">Start sharing!</legend>
        <!-- Text input-->
        <div class="form-group">

            <div class="col-sm-10">
                <div  th:if="${#fields.hasErrors('appUser.firstName')}" th:errors="*{appUser.firstName}" class="well alert alert-danger" role="alert"></div>

                <input  th:field="*{appUser.firstName}"  name="firstname" placeholder="Enter First Name" class="form-control"  type="text">
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-10">
                <div  th:if="${#fields.hasErrors('appUser.lastName')}" th:errors="*{appUser.lastName}" class="well alert alert-danger" role="alert"></div>

                <input  th:field="*{appUser.lastName}"  name="lastname" placeholder="Enter Last Name" class="form-control"  type="text">
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-10">
                <div  th:if="${#fields.hasErrors('item')}" th:errors="*{item}" class="well alert alert-danger" role="alert"></div>

                <input  th:field="*{item}"  name="item" placeholder="Enter food you want to share" class="form-control"  type="text">
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-10">
                <div  th:if="${#fields.hasErrors('servingSize')}" th:errors="*{servingSize}" class="well alert alert-danger" role="alert"></div>

                <input  th:field="*{servingSize}"  name="item" placeholder="Enter serving size" class="form-control"  type="text">
            </div>
        </div>
    <div class="form-group">

            <div class="col-sm-10">
                <div  th:if="${#fields.hasErrors('itemType')}" th:errors="*{itemType}" class="well alert alert-danger" role="alert"></div>

                <input  th:field="*{itemType}"  name="item" placeholder="Enter item type e.g Food,Drink,Dessert " class="form-control"  type="text">
            </div>
        </div>



        <!-- Button -->

        <div class="form-group">
            <div class="col-md-10">

                <p><button type="submit" class="btn btn-primary">Submit</button>

            </div>
        </div>

    </form>

</div>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>